{{!-- https://handlebarsjs.com/block_helpers.html --}}

{{!-- https://github.com/michalsnik/aos --}}
{{!-- add CDN and figure out which JS file the initialization will go into. --}}

{{!-- Add the animate for each side. fade right for top block, fade left for bottom block. --}}

{{#ifEven @index}}
<br>
<br>
<br>
<br>
<br>
<div class="row parentRow">
    <div class="col-lg-4 col-sm-12 text-center" data-aos="fade-right">
        <div class="babyName aqua-gradient">
            <h1 class="babies supertext">{{name}}</h1>
            <button type="button" id="saveThisName" class="btn btn-primary">Love it!</button>
            <button type="button" id="removeFromPage" class="btn btn-primary">Maybe Not</button>
        </div>
    </div>
    <div class="col-lg-4 col-sm-0"></div>
    <div class="col-lg-4 col-sm-0"></div>
</div>
<br>
<br>
<br>
<br>
<br>


{{else}}

<br>
<br>
<br>
<br>
<br>
<div class="row parentRow">
    <div class="col-lg-4 col-sm-0"></div>
    <div class="col-lg-4 col-sm-0"></div>
    <div class="col-lg-4 col-sm-12 text-center" data-aos="fade-left">
        <div class="babyName aqua-gradient">
            <h1 class="babies supertext">{{name}}</h1>  
                <button type="button" id="saveThisName" class="btn btn-primary">Love it!</button>
                <button type="button" id="removeFromPage" class="btn btn-primary">Maybe Not</button>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>

{{/ifEven}}