    {{> navbar/navbar-block}}

    <!-- title -->
    <div class="title">
        <a href="/">
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>
     </a>
    </div>


    <!-- shapes -->
    <div class="circleDiv" id="circleOne">
        <div class="innerCircle" id="innerCircleOne"></div>
    </div>
    <div class="circleDiv" id="circleTwo">
            <div class="innerCircle" id="innerCircleTwo"></div>
    </div>
    <div class="triangleDiv" id="triangleOne">
        <!-- <div class="innerTriangle" id="innerTriangleOne"></div> -->
    </div>
    <div class="triangleDiv" id="triangleTwo">
            <!-- <div class="innerTriangle" id="innerTriangleTwo"></div> -->
    </div>

    <!-- card -->

     <div class="cardBackground">
        <div class="innerCard">
            <!-- choose your options -->

            <form action="">
            <div class="choiceText">Choose your options below:</div>
            <!-- select forms: 3 with submit form -->

            <select name="gender" id="gender">
                <option value="">Gender</option>
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>


            <select name="ethnicity" id="ethnicity">
                <option value="">Ethnicity</option>
                <option value="ASIAN AND PACIFIC ISLANDER">Asian/Pacific Islander</option>
                <option value="BLACK NON HISPANIC">Black/Non-Hispanic</option>
                <option value="HISPANIC">Hispanic</option>
                <option value="WHITE NON HISPANIC">White/Non-Hispanic</option>
            </select>

            <input type="text" name="letter" id="letter" placeholder="First Letter (A-Z)">

            <select name="amount" id="amount">
                <option value="">Amount of Names</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
            </select>

        <!-- <button type="submit">Submit</button> -->
        <button id="submit-btn" type="submit" class="btn btn-elegant">Submit</button>
        </form>
        </div>
    </div>



