<div class="bg"></div> 
    <div class="container">
         
    <!-- log in  --> 
       <!-- <div class="logIn">Log In</div>  -->
    
    <!-- choose your options -->
    <div class="choiceText">Choose your options below</div>
    <!-- select forms: 3 with submit form -->
    <select name="gender" id="gender">
        <option value="">Choose One</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="both">Both</option>
    </select>
    <select name="ethnicity" id="ethnicity">
        <option value="">Choose One</option>
        <option value="asian">Asian/Pacific Islander</option>
        <option value="black">Black/Non-Hispanic</option>
        <option value="hispanic">Hispanic</option>
        <option value="white">White/Non-Hispanic</option>
    </select>
    <input type="text" name="letter" id="letter" placeholder="A-Z">
    <select name="amount" id="amount">
        <option value="">Choose One</option>
        <option value="ten">10</option>
        <option value="twenty">20</option>
        <option value="thirty">30</option>
    </select>
    <!-- <button type="submit">Submit</button> -->
    <button type="submit" class="btn btn-elegant">Submit</button>
</div>