
    <!-- title -->
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>

    <!-- home -->
    <button type="submit" class="btn btn-elegant logIn">Home</button>

    <!-- shapes -->
    <div class="circleDiv" id="circleOne">
        <div class="innerCircle" id="innerCircleOne"></div>
    </div>
    <div class="circleDiv" id="circleTwo">
        <div class="innerCircle" id="innerCircleTwo"></div>
    </div>
    <div class="triangleDiv" id="triangleOne">
        <!-- <div class="innerTriangle" id="innerTriangleOne"></div> -->
    </div>
    <div class="triangleDiv" id="triangleTwo">
        <!-- <div class="innerTriangle" id="innerTriangleTwo"></div> -->
    </div>

    <!-- log in -->

    <div class="cardBackground loginCard">
        <div class="innerCard loginInnerCard">
            <!-- log in -->
            <!-- <div class="choiceText">Log in below:</div> -->
            <!-- Default form login -->
            <form class="text-center border border-light p-5" action="#!">

                <p class="h4 mb-4">Log in below:</p>

                <!-- Email -->
                <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

                <!-- Password -->
                <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

                <div class="d-flex justify-content-around">
                    <div>
                        <!-- Remember me -->
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
                            <label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
                        </div>
                    </div>
                    <div class="forgotPassword">
                        <!-- Forgot password -->
                        <a href="">Forgot password?</a>
                    </div>
                </div>

                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

                <!-- Register -->
                <p class="member">Not a member?
                    <a href="">Register</a>
                </p>

                <!-- Social login -->
                <!-- <p class="socials">or sign in with:</p> -->

                <!-- <a href="#" class="mx-2" role="button"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-twitter"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-linkedin-in"></i></a>
                <a href="#" class="mx-2" role="button"><i class="fab fa-github"></i></a> -->

            </form>
            <!-- Default form login -->


        </div>
    </div>
