

    <!-- title -->
    <div class="title">
        <a href="/">
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>
     </a>
    </div>

   

    <!-- name container -->

    <div class="container text-center">
        <h1 class="babies supertext"> Please scroll down to view your names.</h1>
        {{#each limitedResults}}

        {{> names/name-block}}
        
        {{/each}}
    </div>

    {{!-- sticky footer --}}

   <footer class="page-footer font-small fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <a href="/names"> back to top</a>
  </div>
  <!-- Copyright -->

</footer>
