

    <!-- title -->
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>

   

    <!-- name container -->

    <div class="container text-center">
        <h1 class="babies supertext"> Please scroll down to view your names.</h1>
        {{#each limitedResults}}

        {{> names/name-block}}
        
        {{/each}}
    </div>
