

    <!-- title -->
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>

    <!-- <div class="triangleDiv" id="triangleOne">
        <div class="innerTriangle" id="innerTriangleOne"></div>
    </div> -->
    <!-- <div class="triangleDiv" id="triangleTwo">
            <div class="innerTriangle" id="innerTriangleTwo"></div> 
    </div> -->

    <!-- name container -->

    <div class="container">
        {{#each postResults}}

        {{> names/name-block}}
        
        {{/each}}
    </div>
