    <!-- title -->
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>

    <!-- shapes -->
    <div class="circleDiv" id="circleOne">
        <div class="innerCircle" id="innerCircleOne"></div>
    </div>
    <div class="circleDiv" id="circleTwo">
            <div class="innerCircle" id="innerCircleTwo"></div>
    </div>
    <!-- <div class="triangleDiv" id="triangleOne">
        <div class="innerTriangle" id="innerTriangleOne"></div>
    </div> -->
    <!-- <div class="triangleDiv" id="triangleTwo">
            <div class="innerTriangle" id="innerTriangleTwo"></div> 
    </div> -->

    <!-- name container -->

    <div class="nameContainer">
        {{#each postResults}}

        {{!-- {{> names/name-block}} --}}
        <p>{{name}}</p>
        
        {{/each}}
    </div>
