    {{> navbar/navbar-block}}
    
    <!-- title -->
    <div class="nameDiv">N A M E</div>
    <div class="thatDiv">T H A T</div>
    <div class="babyDiv">B A B Y</div>

    <!-- shapes -->
    <div class="circleDiv" id="circleOne">
        <div class="innerCircle" id="innerCircleOne"></div>
    </div>
    <div class="circleDiv" id="circleTwo">
        <div class="innerCircle" id="innerCircleTwo"></div>
    </div>
    <div class="triangleDiv" id="triangleOne">
        <!-- <div class="innerTriangle" id="innerTriangleOne"></div> -->
    </div>
    <div class="triangleDiv" id="triangleTwo">
        <!-- <div class="innerTriangle" id="innerTriangleTwo"></div> -->
    </div>

    <!-- log in -->

    <div class="cardBackground loginCard">
        <div class="innerCard loginInnerCard">
            <!-- log in -->
            <!-- <div class="choiceText">Log in below:</div> -->
            <!-- Default form login -->
            <form class="text-center border border-light p-5 signup" action="#!">
 
                <p class="h4 mb-4">Sign up below:</p>

                <!-- Email -->
                <input type="email" id="email-input" class="form-control mb-4" placeholder="E-mail">

                <!-- Password -->
                <input type="password" id="password-input" class="form-control mb-4" placeholder="Password">


                <!-- Sign in button -->
                <button class="btn btn-info btn-block my-4" id="signupBtn" type="submit">Sign Up</button>

                <!-- Default form login -->


        </div>
    </div>