* {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

body {
  border: 15px solid;
  height: 100vh;
}

select {
  font-family: 'Cormorant Garamond', serif;
  display: block;
  margin: 20px auto;
}

button {
  font-family: 'Cormorant Garamond', serif;
  display: block;
  margin: 20px auto;
}

/* .list-group-item {
  line-height: 2.5;
} */
